services:
  - type: web
    name: wineshop
    env: php
    plan: free

    buildCommand: |
      composer install --no-dev --optimize-autoloader
      php artisan key:generate
      php artisan migrate --force
      npm install
      npm run build

    startCommand: |
      php artisan serve --host=0.0.0.0 --port=10000

    envVars:
      - key: APP_ENV
        value: production

      - key: APP_DEBUG
        value: false
